/* Variáveis de estilo */
:root {
  --bg-color: #ffffff;
  --header-color: #333333;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--bg-color);
  padding: 15px;
  transition: background-color 0.3s ease;
}

h1 {
  color: var(--header-color);
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.5em;
  text-align: center;
}

@media (min-width: 768px) {
  .app-container {
    flex-direction: row;
    padding: 20px;
  }

  h1 {
    font-size: 2em;
  }
}
