/* index.css */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

:root {
  --bg-color: #f9f9f9;
  --header-color: #ff6f00;
}

body {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  background-color: var(--bg-color);
  color: #333;
}

html {
  scroll-behavior: smooth;
}

button {
  font-family: inherit;
  cursor: pointer;
}